# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [19]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return a
    else:
        return b

In [20]:
# Check
lesser_of_two_evens(2,4)

2

In [21]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [7]:
def animal_crackers(text):
    a,b=text.split(' ')
    if a[0]==b[0]:
        return True
    else:
        return False

In [8]:
# Check
animal_crackers('Levelheaded Llama')

True

In [9]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [19]:
def makes_twenty(n1,n2):
    Summation=n1+n2
    if Summation ==20 or n1==20:
        return True
    else:
        return False

In [20]:
# Check
makes_twenty(20,10)

True

In [22]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [228]:
def old_macdonald(name):
    name2=list(name.capitalize())
    for i in range(len(name2)):
        if i==3:
            name2[3]=name[3].upper()
            return ''.join(name2)
    else:
        pass

In [229]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [413]:
def master_yoda(text):
    List=text.split()
    return ' '.join(List[::-1])

In [414]:
# Check
master_yoda('I am home')

'home am I'

In [415]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [58]:
def almost_there(n):
    return (abs(200-n) <10 or abs(100-n)<10)

In [59]:
# Check
almost_there(104)

True

In [60]:
# Check
almost_there(150)

False

In [61]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [56]:
def has_33(nums):
    new=str(nums).replace(',','')
    if '33' in ''.join(new.split()):
         return True
    else:
        return False

In [57]:
# Check
has_33([1, 3, 3])

True

In [58]:
# Check
has_33([1, 3, 1, 3])

False

In [59]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [418]:
def paper_doll(text):
    for i in text:
        print(i*3, end='')

In [419]:
# Check
paper_doll('Hello')

HHHeeellllllooo

In [420]:
# Check
paper_doll('Mississippi')

MMMiiissssssiiissssssiiippppppiii

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [447]:
def blackjack(a,b,c):
    Sum=a+b+c
    if Sum%2==0 and Sum>21:
        return 'BUST'
    elif Sum <=21:
        return Sum
    elif Sum>21:
        return Sum-10
    else:
        return 'None'

In [448]:
# Check
blackjack(5,6,7)

18

In [449]:
# Check
blackjack(9,9,9)

17

In [450]:
# Check
blackjack(9,8,11)

'BUST'

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [60]:
def summer_69(arr):
    Sum=int()
    for i in range(len(arr)):
        if 6 in arr:
            Range=range(arr.index(6),arr.index(9)+1)
            for t in Range:
                arr[t]=0
            if 6!=arr:
                Sum+=arr[i]
            else:
                pass
        else:
            Sum+=arr[i]
    return Sum

In [61]:
# Check
summer_69([1, 3, 5])

9

In [62]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [63]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [490]:
def spy_game(nums):
    C=str(nums).replace(',','')
    if '007' in ''.join(C.split()):
        return True
    else:
        return False

In [491]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [492]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [493]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [175]:
def count_primes(num):
    List=0
    for n in range(2,num):
        prime=True
        for i in range(2,n):
            if (n%i==0):
                prime=False
        if prime:
            List+=1
    print(List)

In [176]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [140]:
def print_big(letter):
    Dict={"a":'  *',"b":' * *',"C":'*****',"D":'*   *',"E":'*   *'}
    if letter in Dict:
        for value in Dict.values():
                print(f"{value} ")

In [145]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Great Job!